::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
body {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}
.chatBody {
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
  height: 70vh;
  border: 1px dashed red;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.chatBody img {
  width: 50px;
  height: 50px;
}
.left,
.right {
  display: flex;
  align-items: center;
  line-height: 30px;
  margin: 10px 0;
}
.left {
  justify-content: start;
}
.right {
  justify-content: end;
}
.right .text {
  margin-right: 10px;
}
.left .text {
  margin-left: 10px;
}
.chatBox {
  position: relative;
  width: 100%;
  height: 25vh;
  margin-top: 20px;
  overflow: hidden;
}
.chatBox input {
  width: 100%;
  border: 1px dashed red;
  resize: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20px;
}
.btn {
  position: absolute;
  bottom: 20px;
  right: 0px;
  padding: 10px;
  box-sizing: border-box;
  letter-spacing: 4;
  color: gray;
  user-select: none;
}
.isContent {
  color: black;
}
