* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1a20;
}
::-webkit-scrollbar {
  display: none;
}
.slider-block {
  position: absolute;
  height: 100%;
  padding: 20px;
  width: 18%;
}
